.about{
    width:100vw;
    height:110vh;
    clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 10%);
    background: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
}