.home{
    margin:0 auto;
  display:flex;
  flex-direction: column;
  width:80vw;
  height:80vh;
  justify-content: center;
  align-items: center;
  color:white;
  text-align: center;
}

.desc{
    display:flex;
    flex-direction: column;
    height:50vh;
    justify-content: space-around;
}

.home__p{
    font-size:24px;
    font-family: var(--main-font);
    text-shadow: 2px 2px #000;
}

.home__h1{
    font-size:80px;
    font-family: var(--main-font);
    text-transform: uppercase;
    text-shadow: 2px 2px #000;
}

.home__description{
    background: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 8px;
    padding:2rem;
    font-size: 24px;
}

.home__button{
    margin-top:3rem;
    padding:1rem 2rem;
    border-radius: 6px;
    border:none;
    font-size: 16px;
    background-color: rgb(32, 32, 32);
    color:var(--color-1);
    transition: 0.3s;

    -webkit-box-shadow: 8px 8px 24px 0px rgba(0, 0, 0, 1);
-moz-box-shadow: 8px 8px 24px 0px rgba(0, 0, 0, 1);
box-shadow: 8px 8px 24px 0px rgba(0, 0, 0, 1);
}

.home__button:hover{
    transform: scale(1.1);
    cursor:pointer;
}

.home_button:active{
    transform: translate(5px,5px);
}

@media screen and (max-width:1000px){
    .home__h1{
        font-size:55px;
    }
    .home__description{
        padding:2rem;
        font-size: 17px;
    }
    
.home__p{
    font-size:17px;
}
}

@media screen and (max-width:600px){
    .home__h1{
        font-size:40px;
    }
    .home__description{
        padding:0.5rem;
        font-size: 15px;
    }
    
.home__p{
    font-size:15px;
}
}
